<footer class="site-footer">

	<div class="wrapper">

		<h2 class="footer-heading">{{ site.title }} • <a href="{{ site.baseurl }}/">Table of Contents</a></h2>

		<div class="footer-col-wrapper">
			<div class="footer-col footer-col-1">
				<ul class="contact-list">
					<li>{{ site.title }}</li>
					<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
				</ul>
			</div>

			<div class="footer-col footer-col-2">
				<ul class="social-media-list">
					{% if site.github_username %}
					<li>
						{% include icon-github.html username=site.github_username %}
					</li>
					{% endif %}

					{% if site.instagram_username %}
					<li>
						{% include icon-instagram.html username=site.instagram_username %}
					</li>
					{% endif %}

					{% if site.twitter_username %}
					<li>
						{% include icon-twitter.html username=site.twitter_username %}
					</li>
					{% endif %}
				</ul>
			</div>

			<div class="footer-col footer-col-3">
				<p>{{ site.description }}</p>
			</div>
		</div>

	</div>

</footer>

<!-- load jQuery -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<!-- load Galleria -->
<script src="{{ site.baseurl }}/js/galleria/galleria-1.4.5.min.js"></script>

<script>
	$(function() {
		if ($('.galleria').length > 0) {
			// Load theme
			Galleria.loadTheme('{{ site.baseurl }}/js/galleria/themes/classic/galleria.classic.min.js');
			//Galleria.loadTheme('{{ site.baseurl }}/js/galleria/themes/azur/galleria.azur.min.js');

			// Initialize Galleria
			Galleria.run('.galleria', {
				height: 0.5625,
				imageCrop: false,
			});
		}
	});
</script>
